<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="UTF-8"/>
        <title>Products</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />



        <style>
            #mapid { height: 90vh; }

            #btn-circle-go {
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                padding: 0;
                border-radius: 50%;
            }
        </style>
    </head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate">MAP</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate/objects?object=bank">Banks</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate/objects?object=atm">ATMs</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate/objects?object=exchange">Money Exchange</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="mapid"></div>
</body>
</html>

<script>
    var mymap = L.map('mapid');
    var zoom = 14;
    var routingControl = L.routing.control({
        routeWhileDragging: true,
        draggableWaypoints: false,
        addWaypoints: false,
        createMarker: function (i, waypoint, n) {
            var marker_icon = destinationIcon
            var marker;
            console.log(waypoint);
            if(i==n-1){
                marker = L.marker(waypoint.latLng, {
                    draggable: false,
                    bounceOnAdd: false,
                    bounceOnAddOptions: {
                        duration: 1000,
                        height: 800,
                    },
                    icon: marker_icon
                }).bindPopup("<div class='text-center p-1'><div>" + waypoint.name + "</div></div>");
            }
            return marker;
        }
    }).addTo(mymap);

    var destinationIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var startIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    const queryString = new URLSearchParams(window.location.search);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoicGFtYXBpIiwiYSI6ImNraWMyMWExZjBkc3AydHBvODJiODZrc3gifQ.9e-Ia8GJf19iraotSP3y6Q'
    }).addTo(mymap);

    function getMarkersAjax(){
        $.ajax({
            url: '/api/markers',
            success: function(result){
                for(var i=0;i<result.length;i++){
                    var x = result[i].coordinates.x;
                    var y = result[i].coordinates.y;
                    var marker = L.marker([y, x]).bindPopup("<div class='text-center p-1'><div>" + result[i].name + "</div></br><div>" + result[i].type + "</div></br><button type='button' class='btn btn-primary btn-go' onclick='getRoute(this)' data='" + result[i].id +"'>Go</button></div>").addTo(mymap);
                }
            }
        });
    }

    getMarkersAjax();

    getLocation()
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition)
        } else {
            mymap.setView([41.9936657, 21.4428736],zoom)
        }
    }

    function showPosition(position) {
        mymap.setView([position.coords.latitude,position.coords.longitude],zoom)
        myCoords = [position.coords.latitude,position.coords.longitude]

        if(queryString.has('id')){
            var paramId = queryString.get('id');
            route(paramId);
        }
        L.marker([myCoords[0],myCoords[1]], { icon: startIcon}).bindPopup("My Location").addTo(mymap);
    }

    function getRoute(item){
        var objectId = item.getAttribute("data");
        mymap.closePopup();
        route(objectId);
    }


    function route(idParam){
        $.ajax({
            url: '/api/markers/' + idParam,
            success: function(result){
                routingControl.getPlan().setWaypoints([
                    L.Routing.waypoint(L.latLng(myCoords[0],myCoords[1])),
                    L.Routing.waypoint(L.latLng(result.coordinates.y, result.coordinates.x), '<div>' + result.name + '</div></br><div>' + result.type + '</div>')]);
            }
        })
    }

</script>