<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate">MAP</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate/objects?object=bank">Banks</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate/objects?object=atm">ATMs</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/navigate/objects?object=exchange">Money Exchange</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container md-5">
    <div class="text-center mt-2 mb-2">
        <a class="btn btn-primary" href="/admin/create">Add new Object</a>
    </div>
    <div class="row">
        <div class="col-12" >
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-3">
                            Id
                        </th>
                        <th scope="col-6">
                            Name
                        </th>
                        <th scope="col-3">
                            Type
                        </th>
                        <th scope="col-3">
                            Lat
                        </th>
                        <th scope="col-3">
                            Lon
                        </th>
                    </tr>
                    </thead>
                    <tbody id="t-body">
                        <tr class="hoverable" th:each="object : ${objects}">
                            <td th:text="${object.getId()}">
                            <td th:text="${object.getName()}"></td>
                            <td th:text="${object.getType().toString()}"></td>
                            <td th:text="${object.getCoordinates().getY()}"></td>
                            <td th:text="${object.getCoordinates().getX()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
